
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin-left: 0;
  box-sizing: border-box;
  max-width: 1200px;
}

#Landing {
  margin-bottom: 200px;
}

body {
    display: block;
    flex: 1;
    margin-left: 15px;
    padding: 10px auto;
    width: 100%;
    height: auto;
  
}
h5 {
  font-size: 48px;
  font-weight: 700px;
}
h2, h3, h4,h5, h6, span {
  color: rgb(36, 62, 99);
  line-height: 1.25;
}

p {
  line-height: 1.5;
  font-size: 16px;
}
.purple {
  color: #6415ff;
}

.btnnav {
  background-color: rgb(100, 21, 255); /* Blue background */
  color: white;              /* White text color */
  padding: 12px 36px; 
  font-size: 14px;
  font-weight: 600;       /* Padding around the text */
  border: none;              /* Remove default border */
  border-radius: 50px;        /* Rounded corners */
  cursor: not-allowed;           /* Change cursor to a hand on hover */
  transition: background-color 0.3s ease; /* Smooth color transition on hover */
}
.btn:hover {
  background-color: rgb(80, 17, 204); /* Darker blue on hover */
}
/* 

NAVAGATION BAR 

*/


.row {
  width: 100%;
  height: 100px;
}

.nav__row {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 12px;
  margin-bottom: 125px;
}

.nav__logo {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.nav__logo--title {
    box-sizing: border-box;
    color: rgb(36, 62, 99);
    display: block;
    height: 31.5px;
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 0.6px;
    margin-bottom: 0px;
    margin-left: 12px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    
    position: relative;
    top: 6px;
    
}

.nav__img--wrapper {
  display: flex;
  flex-direction: end;
  width: 100%;
}


.nav__links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


    box-sizing: border-box;
    list-style-type: none;
    cursor: not-allowed;
}

.nav__link {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  color: rgb#060607(36, 62, 99);
  /* color: rgb(5, 5, 5);
  display: block;
  font-weight: 600;
  width: 800px;;
  font-size: 14px;
  letter-spacing: 0.90;
  margin: 0 240px; 
  margin-bottom: 0;
  margin-left: 80px;
  margin-right: 40px;
  padding: 10px 0 0;
  text-decoration-line: none;
  position: relative;  */
}
    
.nav__logo--img {
  width: 40px;
  height: 40px;
}

a {
    text-decoration: none;
    position: relative;
    transition: opacity 300ms ease;
}

.nav__link--anchor-primary,
.quality__:hover {
    background-color: rgb(80, 17, 204);
} 

/*

HEADER

*/

.header__description,
.quality__description {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  text-align: left;
}

.quality__container,
.header__container {
  display: flex;
  flex-direction: column;
  flex: 0 0 45%;
  height: auto;
}

.header__left--title {
  text-align: left;
  margin-top: 0px;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 1.25px;
  color: rgb(1, 1, 1); 
}

.quality__title,
.header__title h2 {
  text-align: left;
}

.header__left--para {
  color: #243e63;
  font-size: 18px;
  font-weight: 600;
  opacity: 50%;
  width: 600px;
  padding: 0px;
  padding-top: 0px;
  padding-bottom: 20px;
}


.header__left--container {
  position: relative;
  border-style: solid;
  border: 2px solid  #e9e6e6;
  color:rgb(150, 147, 147);
  width: 400px;
  padding: 22px;
  margin-bottom: 15px;
  border-radius: 100px;
}
  
   /* text-decoration: none; to remove underline*/

.signup-button {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 7%;
  left: 54%;
  z-index: 1;
  white-space: nowrap;
  background-color: rgb(100, 21, 255); /* Blue background */
  color: white;              /* White text color */
  padding: 18px 87px;        /* Padding around the text */
  border: none;              /* Remove default border */
  border-radius: 100px;        /* Rounded corners */
  cursor: pointer;           /* Change cursor to a hand on hover */
  width: 20%;               /* Full width of the form container */
  font-size: 16px;
  /* font-weight: 600; */
  transition: background-color 0.3s ease; /* Smooth color transition on hover */
}

.signup-button:hover {
    background-color: rgb(80, 17, 204); /* Darker blue on hover */
}

.header__left--customer {
    width: 400px;
    font-size: 12px;
    font-weight: 800;
    opacity: calc(30%);
    padding-top: 50px;
}

.header__left--img {
    padding-top: 12px;
    width: 30%;
    opacity: calc(50%);
}

.header__illustration,
.quality__hero {
  max-width: 600px;
  height: auto;
}

.header__image, 
.quality__image {
  flex: 0 0 50%;
}
    
.header__description--para, 
.quality__para--section {
  color: #243e63;
  font-size: 18px;
  font-weight: 600;
  opacity: 50%;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

/* 

FEATURES SECTION

*/

#features {
  display: block;
  padding: 10px auto;
  margin-left: 15px;
  margin-right: 55px;
  width: 100%;
  height: auto;
}

.section__container {
  /* margin-top: 260px; */
}

.section__tag {
  display: flex;
  justify-content: center;
  color: #6415ff; 
  font-weight: 700;
  letter-spacing: .08em;
}

.section__title {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 2px;
  color: rgb(36, 62, 99);
  padding-top: 20px;
  padding-bottom: 0px;
}
.section__para {
  display: flex;
  justify-self: center;
  font-size: 18px;
  color: #243e63;
  font-weight: 600;
  opacity: 50%;
  width: 600px;
  padding: 40px auto;
  padding-top: 0px;
  padding-bottom: 0px;

}

.highlight__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1;
  padding-bottom: 30px;


}

.highlight__container {
  display: flex;
  flex-direction: row;
  width: 350px;
  height: 300px;
  /* border: 1px solid black; */
  align-items: center;
  padding-left: 20px;

}
.highlight__sub--container {
  padding-left: 20px;
  margin: 5px;
}
.highlight__container h2,
.highlight__container p {
  text-align: left;
  padding-left: 20px;
  margin: 5px;
}

.flex-highlight div {
  padding: 20px;
  background-color: aquamarine;
}


.highlight__img {
  align-self: start;
  box-sizing: border-box;
  border: solid #dcdfe5;
  border-radius: 50%;
  padding: 20px;
  margin-top: 30px;
}

.highlight__para {
  font-size: 16px;
  font-weight: 600;
  opacity: 40%;
  letter-spacing: .5px;
  line-height: 2.0;

}


/*

Quality

*/

#quality {
  display: block;
  padding: 10px auto;
  margin-left: 15px;
  margin-right: 55px;
  width: 100%;
  height: auto;
}

/* .quality__description {
  display: flex;
  flex-direction: row;
  padding-top: 96px;
} */


.quality__tag {

  color: #6415ff; 
  font-size: 18px;
  font-weight: 700;
  letter-spacing: .08em;
  padding-bottom: 20px;
}

.quality__title {
  text-align: left;
  margin-top: 0px;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 2px;
  color: rgb(36, 62, 99); 
}



/* 

SMALL SCREENS

*/

@media screen and (max-width: 600px) {
  .nav__links.responsive {position: relative;}
  .nav__links.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav__links.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/* .right__header--img {
  display: none;
} */