
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4,h5, h6, span {
  color: #1a202c;
  text-align: center;
  line-height: 1.25;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

/* 

NAVAGATION BAR 

*/

.landing {
  display: block;
  padding: 0px 32px;
  padding-left: 32px;
  padding-right: 32px;
}

nav {

}
.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.nav__row {
  display:flex;
  flex-direction:;
  justify-content: space-between;
  padding: 32px 
  
}

.nav__logo {
  display: flex;
  justify-content: space-between;
  padding: 8px 0px 8px;

}

.nav__logo--title {
    box-sizing: border-box;
    color: rgb(36, 62, 99);
    display: block;
    font-size: 24px;
    height: 31.5px;
    font-weight: 900;
    letter-spacing: 0.6px;
    margin-bottom: 0px;
    margin-left: 12px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    width: 81.5469px;
    position: relative;
    top: 8px;
    
}

.nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 8px 0px 8px;
  list-style-type: none;
  
}
.nav__link {
  color: rgb(36, 62, 99);
  display: block;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.90;
  margin: 0 24px;
  margin-bottom: 0;
  margin-left: 48px;
  margin-right: 24px;
  padding: 4px 0 0;
  text-decoration-line: none;
  position: relative;
}

.bold:hover {
    text-decoration: underline;
    text-decoration-color:rgb(100, 21, 255);
    text-underline-offset: 8px;
    
}

.nav__logo--img {
  width: 40px;
  height: 40px;
}

a {
  text-decoration-line: none;
}

.nav__link--anchor-primary {
    box-sizing: border-box;
    background-color: rgb(100, 21, 255);
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    padding: 12px 24px;
    border-radius: 23px;
    color: white;
    transition: all 300ms ease;    
}


.nav__link--anchor-primary:hover {
    background-color: rgb(80, 17, 204);
}

/*

HEADER

*/

.grid-container {
  flex: 1;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 40% 100%; 
  grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
  text-align: left;
  width: 100%;
  height: 600px;
  margin-top: 2px;
  padding-top: 32px;
  padding-bottom: 90px;
  padding-left: 28px;
  padding-right: 28px; 
  /* grid-template-rows: auto auto; */
}

.purple {
  color: #6415ff;
}

.header__text {
  text-align: left;
  width: 100%;
  padding-bottom: 32px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.25;
}

.left-section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex: 1;
  width: 100%;
  margin: 0 auto;


}

.left-div-1, 
.left-div-2,
.left-div-3,
.left-div-4 {
        width: 400px;
        border: 1px solid green;
        padding: 5px;
        margin-bottom: 5px; /* Space between the two left divs */
    }
.left-div-3 {
    

}

    .right-section {
        flex: 1; /* Allows it to grow and shrink */
        border: 1px solid red;
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 100%;
        margin: 16px;
    }

    .right-div-1 {
        display: block;
        border: 1px solid purple;
        width: 100%;
        height: 700px;
        /* padding: 5px 240px 5px 24px; */
    }

/* .header__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} */

.header__link--anchor {
    margin: 0 12px;
    color: #242424;
   /* text-decoration: none; to remove underline*/
    font-weight: 700px;
}
.header__link--anchor-primary {
    background-color: #6030b1;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
}

.header-img {
    transform: scale(0.5);
    margin-left: 1px;
}

.header__img--wrapper {
    position: absolute;

}

.header__description--para {
  text-align: left;
  padding-bottom: 24px;
} 