
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4,h5, h6, span {
  color: #242424;
  text-align: center;
  line-height: 1.25;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

/* 

NAVAGATION BAR 

*/

nav {
  padding: 24px;
}
.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.nav__row {
  display:flex;
  flex-direction:;
  justify-content: space-between;
  
}

.nav__logo {
  display: flex;
  justify-content: space-between;
  margin-left: 12px;
}

.nav__logo--title {
    box-sizing: border-box;
    color: rgb(36, 62, 99);
    display: block;
    font-size: 32px;
    height: 31.5px;
    font-weight: 900;
    letter-spacing: 0.6px;
    margin-bottom: 0px;
    margin-left: 12px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    width: 81.5469px;
    position: relative;
    top: 10px;
    
}

.nav__links {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  
  list-style-type: none;
  
}
.nav__link {
  color: rgb(36, 62, 99);
  display: block;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.35;
  margin-bottom: 0;
  margin-left: 48px;
  margin-right: 24px;
  padding-top: 4px;
  text-decoration-line: none;
  position: relative;
}
.company__name {
  
}

.nav__logo {
  width: 60px;
  height: 60px;
}

