
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin-left: 0;
  box-sizing: border-box;
  max-width: 1200px;
}

#Landing {
  margin-bottom: 200px;
}

body {
    display: block;
    flex: 1;
    margin-left: 25px;
    margin-right: 25px;
    padding: 10px auto;
    min-height: 100vh;
    Max-width: 1200px;
    /* font-family: 'Inter', sans-serif; */
  
}

a {
  font-size: 42px;
  color: rgb#060607(36, 62, 99);
  text-decoration: none;
  list-style-type: none;
}

.purple {
  color: #6415ff;
}

.btn {
  background-color: rgb(100, 21, 255); /* Blue background */
  color: white;              /* White text color */
  padding: 16px 40px; 
  font-size: 14px;
  font-weight: 600;       /* Padding around the text */
  border: none;              /* Remove default border */
  border-radius: 50px;        /* Rounded corners */
  cursor: not-allowed;           /* Change cursor to a hand on hover */
  transition: background-color 0.3s ease; /* Smooth color transition on hover */
  text-decoration: none;
}
.btn:hover {
  background-color: rgb(80, 17, 204); /*Darker blue on hover */
}
/* 

NAVAGATION BAR 

*/




.nav__row {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  margin-bottom: 225px;
}

.nav__logo {
  display: flex;
  flex: 1;
  margin-right: 100px;

  /* position: absolute; */
}

.nav__logo--title {
    box-sizing: border-box;
    color: rgb(36, 62, 99);
    display: block;
    height: 31.5px;
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 0.6px;
    margin-bottom: 0px;
    margin-left: 12px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    
    position: relative;
    top: 6px;  
}

#menu-list {
  display: none;
  background-color: white;
  width: 100%;
  z-index: 998;
}
.menubar {
  width: 100px;
  height: 100px;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;

}
nav a:hover { 
  text-decoration: underline; 
  text-decoration-color: #6415ff;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}

nav li {
  height: 50px;
}
nav li:last-child {
  margin-right: auto;
}

.nav__link {
  color: #060607;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.35;
  opacity: 90%;
  display: flex;
  justify-self: center;
  cursor: not-allowed;
}
.link__hover-effect:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 50%;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect--black::after {

  text-decoration-color: #6415ff;
}

    
.nav__logo--img {
  width: 40px;
  height: 40px;
}

a {
    text-decoration: none;
    position: relative;
    transition: opacity 300ms ease;
}

.nav__link--anchor-primary {
    background-color: rgb(80, 17, 204);
} 

/*

HEADER

*/
#header {
  display: block;
  padding: 10px auto;
  margin-left: 15px;
  margin-right: 55px;
  width: 100%;
  max-width: 1200px;
  height: auto;
}

.header__description {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  flex-wrap: wrap;
  text-align: left;
  min-width: 1200px;
  width: 100%;
}

.header__container {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: auto;
}

.header__left--title {
  text-align: left;
  margin-top: 0px;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 1.25px;
  color: rgb(1, 1, 1); 
}

.quality__title,
.header__title h2 {
  text-align: left;
}

.header__left--para {
  color: #243e63;
  font-size: 18px;
  font-weight: 600;
  opacity: 50%;
  width: 600px;
  padding: 0px;
  padding-top: 0px;
  padding-bottom: 20px;
}


.header__left--container {
  position: relative;
  border-style: solid;
  border: 2px solid  #e9e6e6;
  color:rgb(150, 147, 147);
  width: 400px;
  padding: 22px;
  margin-bottom: 15px;
  border-radius: 100px;
}
  
   /* text-decoration: none; to remove underline*/

.signup-button {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 7%;
  left: 54%;
  z-index: 1;
  white-space: nowrap;
  background-color: rgb(100, 21, 255); /* Blue background */
  color: white;              /* White text color */
  padding: 18px 88px;        /* Padding around the text */
  border: none;              /* Remove default border */
  border-radius: 100px;        /* Rounded corners */
  cursor: not-allowed;           /* Change cursor to a hand on hover */
  width: 20%;               /* Full width of the form container */
  font-size: 16px;
  /* font-weight: 600; */
  transition: background-color 0.3s ease; /* Smooth color transition on hover */
}

.signup-button:hover {
    background-color: rgb(80, 17, 204); /* Darker blue on hover */
}

.header__left--customer {
    width: 400px;
    font-size: 12px;
    font-weight: 700;
    opacity: calc(30%);
    padding-top: 50px;
}

.header__left--img {
    padding-top: 4px;
    width: 100%;
    max-height: auto;
    opacity: calc(50%);
}

.header__illustration {
  display: flex;
  flex-basis: 0%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: wrap;
  max-width: 600px;
  height: auto;
}

.header__img {

  flex: 1 1 300px;
  max-width: 500px;
  max-width: 600px;
  height: auto;
    /* flex: 0 0 50%; */
} 

    
.header__description--para {
  color: #243e63;
  font-size: 18px;
  font-weight: 600;
  opacity: 50%;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
} 

/* 

FEATURES SECTION

*/

#features {
  display: block;
  padding: 10px auto;
  margin-left: 15px;
  margin-right: 55px;
  max-width: 1500px;
  width: 100%;
  height: auto;
}
h7 {
    font-size: 16px;
    color: #6415ff;
    font-weight: 700;
    letter-spacing: .08em;
}
.section__tag {
  display: flex;
  justify-content: center;
  padding-top: 160px;
}

.section__title {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  font-size: 56px;
  font-weight: 900;
  letter-spacing: 2px;
  color: rgb(36, 62, 99);
  padding-top: 60px;
  padding-bottom: 50px;
}
.section__para {
  display: flex;
  justify-self: center;
  font-size: 18px;
  color: #243e63;
  font-weight: 600;
  opacity: 50%;
  width: 600px;
  padding: 40px auto;
  padding-top: 40px;
  padding-bottom: 70px;

}

.highlight__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  flex: 1;
  padding-bottom: 30px;
  padding-left: 30px

}

.highlight__container {
  display: flex;
  flex-direction: row;
  width: 350px;
  height: 300px;
  align-items: center;
}
.highlight__sub--container {
  padding-left: 20px;
  margin: 5px;
}
.highlight__container h2,
.highlight__container p {
  text-align: left;
  padding-left: 20px;
  margin: 5px;
}

.flex-highlight div {
  padding: 20px;
  background-color: aquamarine;
}


.highlight__img {
  align-self: start;
  box-sizing: border-box;
  border: solid #dcdfe5;
  border-radius: 50%;
  padding: 20px;
  margin-top: 30px;
}

.highlight__para {
  font-size: 16px;
  font-weight: 600;
  opacity: 40%;
  letter-spacing: .5px;
  line-height: 2.0;

}


/*

Quality

*/

#quality,
#steps {
  display: block;
  padding: 10px auto;
  margin-left: 15px;
  margin-right: 55px;
  width: 100%;
  /* min-height: 900px; */
  height: auto;
}

.quality__container {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: auto;
  padding-bottom: 100px;
  max-width: 1125px;
}

.quality__description {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  flex-wrap: wrap;
  text-align: left;
  width: 100%;
  padding-top: 120px;
} 


.quality__tag {
  width: 100%;
  height: auto;
  font-size: 16px;
  color: rgb(80, 17, 204);
  letter-spacing: .08em;
}

.quality__title {
  text-align: left;
  margin-top: 0px;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 2px;
  color: rgb(36, 62, 99); 
  padding-top: 50px;
}

.quality__para--section {
  color: #243e63;
  font-size: 18px;
  font-weight: 600;
  opacity: 50%;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.quality__img {
  display: flex;
  flex: 0 0 50%;
  width: 100%;
  height: 100%;
}

.quality__hero {
  max-width: 100%;
  height: auto;
  padding-top: 25px;
}

.quality__img--wrapper {
  padding-top:40px;
}

/* 

STEPS

*/
.steps__section {
  display: block;
}

.steps__main {

  padding-bottom: 30px;
}

.steps__container {
  box-sizing: border-box;
  display: block;
  padding-left: 20px;
  margin-bottom: 250px;
  max-width: 1125px;
}

.steps__list {
  box-sizing: border-box;
  display: block;
}
.step {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  /* align-items: flex-start; */
  max-width: 500px;
  padding: 10px;
}
.step__number {
  display: block;
  box-sizing: border-box;
  font-size: 36px;
  color: #cbd5e0;
  padding-right: 25px;
}
.step__description {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 400px;
  padding-top: 10px;
}
.steps__title {
  display: block;
  box-sizing: border-box;
  margin: 0px 10px 0px 0px;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 2px;
  color: rgb(36, 62, 99); 
}
.step-para {
  box-sizing: border-box;
  display:block;
  color: rgb(113, 128, 150);
  font-size: 18px;
}
.steps__img {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  /* flex-wrap: wrap; */
  width: 100%;
  transform: translateY(70px);
}
.steps__tag {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  color: rgb(80, 17, 204);
  letter-spacing: .08em;
  padding-bottom: 10px;
}

.step__title {
  box-sizing: border-box;
  /* display: block; */
  font-size:20px;
  font-weight: 600;
  color: rgb(36, 62, 99);
  padding-bottom: 10px;
 
}


/* .step:first-child {
  display: flex;
  flex-direction: column;
  padding-top: 0px;
}
.step:nth-child(2) {
  display: flex;
  flex-direction: row;
  padding-top: 0px;
} */


/* 

SMALL SCREENS

*/

@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
    margin: 10px;
  }
  /* Add more specific styles for elements on small screens */
  h1 {
    font-size: 24px;
  }
  .steps___img,
  .quality__img,
  .header__img {
    flex: 0 0 .33%;
  }

column (flex-direction: column)
  /* .header__illustration {
  width: 100%;
  height: auto;
} 

#quality {
  max-width: 300px;
  height: auto;
} */


}

