
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter' sans-serif;
  color: #243e63;
  max-width: 1200px;
}

input[type="text"]::placeholder {
  color: #999; /* Gray color for placeholder text */
  opacity: 1; /* Ensure full opacity if desired, as some browsers reduce it by default */
}

#Landing {
  box-sizing: border-box;
  margin-bottom: 200px;
}

body {
    display: block;
    padding: 0 32px;
}

a {
  font-size: 42px;
  color: rgb#060607(36, 62, 99);
  text-decoration: none;
  list-style-type: none;
}

.purple {
  color: #6415ff;
}

.btn {
  background-color: rgb(100, 21, 255); /* Blue background */
  color: white;              /* White text color */
  padding: 16px 40px; 
  font-size: 14px;
  font-weight: 600;       /* Padding around the text */
  border: none;              /* Remove default border */
  border-radius: 50px;        /* Rounded corners */
  cursor: not-allowed;           /* Change cursor to a hand on hover */
  transition: background-color 0.3s ease; /* Smooth color transition on hover */
  text-decoration: none;
}
.btn:hover {
  background-color: rgb(80, 17, 204); /*Darker blue on hover */
}

.btn__menu {
  box-sizing: border-box;
  font-family: 'Inter' sans-serif;
  color: #243e63;;
}

.menu__links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__link {
  color: #1a202c;
  font-size: 18px;
  line-weight: 600;
  line-height: 1.5;
  margin: 8px 0;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}

.menu__link--primary {
color: #f7f1fc;
padding: 12px 32px;
background: #6415ff;
border-radius: 500px;
border: none;
}

.btn__menu--close {
  position: fixed;
  top: 24px;
  right: 18px;
}

.button {
  cursor: not-allowed;
}
/* 

NAVAGATION BAR 

*/

nav {
  padding-top: 32px;
  display: flex;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.nav__row {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  margin-bottom: 225px;
}

.nav__logo {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding-bottom: 4px;
}

.nav__logo--img {
  width: 40px;
  height: 40px;
}

.nav__logo--title {
    font-size: 24px;
    font-weight: 900;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 378px;
  margin: 24px 16px;
  padding: 32px;
  background-color: #fff;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 8px;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transform: translateX(300%);
  transition: all 300ms ease;
}

.menu-list {
  display: none;
  background-color: white;
  width: 100%;
  z-index: 998;
}
.menubar {
  width: 100px;
  height: 100px;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav a {
  display: inline;
  text-decoration: none;

}
nav a:hover { 
  text-decoration: underline; 
  text-decoration-color: #6415ff;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}

nav li {
  height: 50px;
}
nav li:last-child {
  margin-right: auto;
}

.nav__links {
  display: flex;
  align-items: center;
  padding-bottom: 2px;
}

.nav__link {
  font-size: 14px;
  font-weight: 600px;
  letter-spacing: 0.35;
  padding-top: 4px;;
  border-bottom: 2px solid transparent;
  position: relative;
  transition: all 300ms;
  cursor: not-allowed;
}
.login {
  margin: 0 24px;
}

.nav__link--primary {
  margin: 0;
  padding: 10px 32px;
  margin-top: 2px;
  border-radius: 9999px;
  color: white;
  background-color: #6415ff;
  line-height: none;
  border: none;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 50%;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect--black::after {

  text-decoration-color: #6415ff;
}

    

a {
    text-decoration: none;
    position: relative;
    transition: opacity 300ms ease;
}

.nav__link--anchor-primary {
    background-color: rgb(80, 17, 204);
} 

/*

HEADER

*/
#header {
  display: block;
  padding: 10px auto;
  margin-left: 15px;
  margin-right: 55px;
  width: 100%;
  max-width: 1200px;
  height: auto;
}

.header__description {
  width: 40%;
}



.header__left--title {
  text-align: left;
  margin-top: 0px;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 1.25px;
  color: rgb(1, 1, 1); 
}

.quality__title,
.header__title h2 {
  text-align: left;
}

.header__left--para {
  margin: 32px 0;
}


.header__left--container {
  position: relative;
  border-style: solid;
  border: 2px solid  #e9e6e6;
  color:rgb(150, 147, 147);
  width: 400px;
  padding: 22px;
  margin-bottom: 15px;
  border-radius: 100px;
}
  
   /* text-decoration: none; to remove underline*/

.signup-button {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 7%;
  left: 54%;
  z-index: 1;
  white-space: nowrap;
  background-color: rgb(100, 21, 255); /* Blue background */
  color: white;              /* White text color */
  padding: 18px 88px;        /* Padding around the text */
  border: none;              /* Remove default border */
  border-radius: 100px;        /* Rounded corners */
  cursor: not-allowed;           /* Change cursor to a hand on hover */
  width: 20%;               /* Full width of the form container */
  font-size: 16px;
  /* font-weight: 600; */
  transition: background-color 0.3s ease; /* Smooth color transition on hover */
}

.signup-button:hover {
    background-color: rgb(80, 17, 204); /* Darker blue on hover */
}

.header__left--customer {
    width: 400px;
    font-size: 12px;
    font-weight: 700;
    opacity: calc(30%);
    padding-top: 50px;
}

.header__left--img {
    padding-top: 4px;
    width: 100%;
    max-height: auto;
    opacity: calc(50%);
}

.header__illustration {
  display: flex;
  flex-basis: 0%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: wrap;
  max-width: 600px;
  height: auto;
}



    
.header__description--para {
  color: #243e63;
  font-size: 18px;
  font-weight: 600;
  opacity: 50%;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
} 

.header__email {
  width: 100%;
  max-width: 448pc;
  height: 68px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
}

.header__customers--title {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6;
}

.header__customers {
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
}

.header__img--wrapper {
    width: calc(100% - 40%);
}

.header__img {
  width: 100%;
  max-width: 768px;
} 
/* 

FEATURES SECTION

*/

#features {
  position: relative;
}

.container {
  padding: 96px 0;
}

#features, 
.row__narrow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row__narrow {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.section__tag {
  font-size: 16px;
  color: #6415ff;
  letter-spacing: 1.6px;
  font-weight: 700;
  text-transform: uppercase;
}

#feat#features .section__title,
#pricing .section__title {
  text-align: center;
} {

.section__title {
  font-size: 48px;
  font-weight: 900;
  color: rgb(36, 62, 99);
  line-height: 1.5;
  margin: 16px 0;
  letter-spacing: 0.025em;
}
.section__para {
  display: flex;
  justify-self: center;
  font-size: 18px;
  color: #243e63;
  font-weight: 600;
  opacity: 50%;
  width: 600px;
  padding: 40px auto;
  padding-top: 40px;
  padding-bottom: 70px;
}

.feature__row {

}

.feature__img--wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  flex: 1;
  padding-bottom: 30px;
  padding-left: 30px
}

.feature__img {
  align-self: start;
  box-sizing: border-box;
  border: solid #dcdfe5;
  border-radius: 50%;
  padding: 20px;
  margin-top: 30px;
}

.feature__text {
  display: flex;
  flex-direction: column;
  justify-content: left;
  flex: 2;
  padding-left: 20px;
} 


/* 

Quality

*/

#quality,
#steps {
  display: block;
  padding: 10px auto;
  margin-left: 15px;
  margin-right: 55px;
  width: 100%;
  min-height: 900px;
  height: auto;
}

.quality__container {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: auto;
  padding-bottom: 100px;
  max-width: 1125px;
}

.quality__description {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  flex-wrap: wrap;
  text-align: left;
  width: 100%;
  padding-top: 120px;
} 


/* .quality__tag {
  width: 100%;
  height: auto;
  font-size: 16px;
  color: rgb(80, 17, 204);
  letter-spacing: .08em;
}

.quality__title {
  text-align: left;
  margin-top: 0px;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 2px;
  color: rgb(36, 62, 99); 
  padding-top: 50px;
}

.quality__para--section {
  color: #243e63;
  font-size: 18px;
  font-weight: 600;
  opacity: 50%;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  
} */

.quality__img--wrapper {
  display: flex;
  flex: 0 0 50%;
  width: 100%;
  height: 100%;
}

.quality__img {
  max-width: 100%;
  height: auto;
  padding-top: 25px;
}


/* 

STEPS

*/


.steps__description {
  box-sizing: border-box;
  display: block;
  padding-left: 20px;
  margin-bottom: 250px;
  max-width: 1125px;
}

.steps__section {
  
}

.steps__list {
  box-sizing: border-box;
  display: block;
}
.step {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  /* align-items: flex-start; */
  max-width: 500px;
  padding: 10px;
}
.step__number {
  display: block;
  box-sizing: border-box;
  font-size: 36px;
  color: #cbd5e0;
  padding-right: 25px;
}
.step__description {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 400px;
  padding-top: 10px;
}

.step__para {
  box-sizing: border-box;
  display:block;
  color: #718096;
  font-size: 14px;
  font-weight: 600;
  padding-top: 20px;
  opacity: 90%;
}

.steps__img {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  /* flex-wrap: wrap; */
  width: 100%;
  transform: translateY(70px);
}

.step__title {
  box-sizing: border-box;
  /* display: block; */
  font-size:20px;
  font-weight: 600;
  color: rgb(36, 62, 99);
  padding-bottom: 10px;
 
}


/* 

VALUES

*/


#values {
  display: block;
  padding: 10px auto;
  margin-left: 15px;
  margin-right: 55px;
  width: 100%;
  height: auto;
}

.value__description {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  flex-wrap: wrap;
  text-align: left;
  width: 100%;
  padding-top: 120px;
}

.values__list {
  box-sizing: border-box;
  display: block;
}

.values__img {
  max-width: 100%;
}



@media (max-width: 1024px) {

  .btn__menu {
  display: block;
}
header .row {
  align-items: flex-end;
}

.nav_links {
  display: none;
}
h1 {
  font-size: 36px;
  color: #1a202c;
  line-height: 1.25;
}
.header__description--para {
  font-size: 16px;
}
.header__customers {
    padding-right: 64px;
}
    .header__img--wrapper {
    display: flex;
    justify-content: flex-end;
}
.header__img {
    max-width: 512px;
}

}






