
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4,h5, h6, span {
  color: #1a202c;
  text-align: center;
  line-height: 1.25;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

/* 

NAVAGATION BAR 

*/

.landing {
  display: block;
  padding: 0px 32px;
  padding-left: 32px;
  padding-right: 32px;
}

nav {

}
.row {
  width: 100%;
  height: 100px;
  max-width: 1200px;
  margin: 0 auto;
}

.nav__row {
  display:flex;
  justify-content: space-between;
  padding: 22px;
  
}

.nav__logo {
  display: flex;
  justify-content: space-between;
  padding: 8px 0px 8px;

}

.nav__logo--title {
    box-sizing: border-box;
    color: rgb(36, 62, 99);
    display: block;
    font-size: 24px;
    height: 31.5px;
    font-weight: 900;
    letter-spacing: 0.6px;
    margin-bottom: 0px;
    margin-left: 12px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    width: 81.5469px;
    position: relative;
    top: 8px;
    
}

.nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 8px 0px 8px;
  list-style-type: none;
  
}
.nav__link {
  color: rgb(36, 62, 99);
  display: block;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.90;
  margin: 0 24px;
  margin-bottom: 0;
  margin-left: 48px;
  margin-right: 24px;
  padding: 4px 0 0;
  text-decoration-line: none;
  position: relative;
}

.bold:hover {
    text-decoration: underline;
    text-decoration-color:rgb(100, 21, 255);
    text-underline-offset: 8px;
    
}

.nav__logo--img {
  width: 40px;
  height: 40px;
}

a {
    text-decoration: none;
    position: relative;
    transition: opacity 300ms ease;
}

.nav__link--anchor-primary,
.header__link--anchor-primary {
    font-family: sans-serif;
    box-sizing: border-box;
    max-width: 150px;
    background-color: rgb(100, 21, 255);
    font-size: 14px;
    line-height: 21px;
    padding: 12px 24px;
    border-radius: 23px;
    color: white;
    transition: all 300ms ease;   
    z-index: 0;
}


.nav__link--anchor-primary:hover,
.header__link--anchor-primary:hover  {
    background-color: rgb(80, 17, 204);
}

/*

HEADER

*/

.grid-container {
  flex: 1;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 40% 100%; 
  grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
  text-align: left;
  width: 100%;
  height: 600px;
  margin-top: 34px;
  padding-top: 32px;
  padding-bottom: 60px;
  padding-left: 28px;
  padding-right: 28px; 
  /* grid-template-rows: auto auto; */
}

.purple {
  color: #6415ff;
}

.left-div-1 {
    display: flex;
    text-align: left;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
    width: 100%;
    padding-bottom: 18px;
    font-size: 36px;
    font-weight: 640; 
    line-height: 1.25;
    text-decoration: none;
    z-index: 1;
}

/* .left-div-3 {
    
    background-color: #f8f9fb; /* Example background color */
    color: white;
    padding: 24px 16px; /* Adjust padding for desired size */
    border: 2px solid #0056b3; /* 2px solid border with a darker blue */
    border-radius: 50px; /* Creates the oval shape, adjust as needed */
    /* Further styling for aesthetics */
    font-size: 16px;
    cursor: pointer;
    outline: none; /* Removes outline on focus */
}    */
  


.left-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  margin: 0 auto;


}

.left-div-2,
.left-div-4 {
        width: 400px;
        /* border: 1px solid green; */
        padding: 5px;
        margin-bottom: 5px; /* Space between the two left divs */
    }

    .right-section {
        flex: 1; /* Allows it to grow and shrink */
        border: 1px solid red;
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 100%;
        margin: 16px;
    }

    .right-div-1 {
        display: block;
        border: 1px solid purple;
        width: 100%;
        height: 700px;
        /* padding: 5px 240px 5px 24px; */
    }

/* .header__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} */

.header__container {
    position: relative;
    border-style: solid;
    border: 2px solid  #e9e6e6;
    color:rgb(150, 147, 147);
    width: 450px;
    padding: 35px;
    margin-bottom: 15px;
    border-radius: 100px;
        }
  
   /* text-decoration: none; to remove underline*/

        .signup-button {
          display: flex;
          justify-content: center;
          position: absolute;
          top: 10%;
          left: 58%;
          z-index: 1;
          white-space: nowrap;
          background-color: #007bff; /* Blue background */
          color: white;              /* White text color */
          padding: 18px 90px;        /* Padding around the text */
          border: none;              /* Remove default border */
          border-radius: 100px;        /* Rounded corners */
          cursor: pointer;           /* Change cursor to a hand on hover */
          width: 20%;               /* Full width of the form container */
          font-size: 16px;
          transition: background-color 0.3s ease; /* Smooth color transition on hover */
        }

        .signup-button:hover {
            background-color: #0056b3; /* Darker blue on hover */
        }
.header__email--input-primary,
/* .left-div-3 {
    display: flex;
    justify-content: flex-end;
    width: 160px;
    background-color: rgb(100, 21, 255);
    font-size: 14px;
    line-height: 21px;
    padding: 12px 24px;
    border: none;
    border-radius: 23px;
    color: white;
    transition: all 300ms ease;
    transform: translateX(50px);   */
}

/* .header-img {
    transform: scale(0.5);
    margin-left: 1px; */
}

.right__header--img {
  margin: 0 auto;
    width: 100%;
    height: 100%;
    
}
.left__header--img {

}

.header__description--para {
  color: #243e63;;
  text-align: left;
  padding-bottom: 24px;
} 